[2019-10-26 22:20] gangchen03 opened #2 "Remove the infrastructure_id local variable from the main.tf code"
https://github.com/ibm-cloud-architecture/terraform-openshift4-aws/blob/7fb31aaf1f1af1861acdf8baa80a336bd8393f36/main.tf#L2
Defines a local variable `infrastructure_id`. This confuses/duplicates with the input variable definition:
https://github.com/ibm-cloud-architecture/terraform-openshift4-aws/blob/7fb31aaf1f1af1861acdf8baa80a336bd8393f36/variables.tf#L4

Suggest changing the main.tf code to:
[

[2019-11-05 15:28] hassenius opened #6 "Document target terraform version"
Since there is such a big difference between terraform 0.11 and 0.12 it's best to be explicit, both in code and doc which version is required.

[2019-11-05 15:31] hassenius opened #7 "Document ami requirements"
To make it easier to deploy to other regions than the default, please document what is required of the AMI so folks can search up an appropriate AMI.
Also, would be nice to have a generic search implementation so people can leave AMI blank for a quick deployment (while explicitly stating that it is not recommended for production since AMIs can change forcing VM recreation when re-applying config a

[2019-12-13 09:59] my-janala opened #8 "error at executing openshift installer binary file"
Hi Gang,
I have been following your repo https://github.com/ibm-cloud-architecture/terraform-openshift4-aws to install Openshift4.2 on AWS but I having trouble. I receive this error Error running command

The installer creates VPC, route53, network resources though. I have basically using the terraform.tfvars.example. After having looked through the code (~/6_bootstrap/installer.tf), I see that I

[2019-12-14 17:43] gangchen03 commented on #8
@my-janala
I suspect that the issue is related to the installer permission. I've assigned @vbudi000 to investigate this. in the mean time, can you change the permission of the file `chmod +x ${path.module}/openshift-install` just to validate whether that's the issue?
Thanks for reporting the issue.

[2019-12-14 17:47] gangchen03 commented on #6
@vbudi000 can you please update the doc and code as suggested above.

[2019-12-14 17:49] gangchen03 commented on #7
@hassenius Red Hat maintains the detail AMI list for each region. It will be a lot of duplication for us to list in this repo. My approach is to just provide link to the source of the AMI table.

[2019-12-14 21:35] ncolon commented on #7
The list of AMIs VHDs and other images for all cloud platforms is listed on this file
https://github.com/openshift/installer/blob/master/data/data/rhcos.json

[2019-12-16 02:01] Praveenmail2him opened #9 "Unmarshalling Install Config File"
While Running in the BootStrap Module, it is failing in this step.

Error: Error running command '6_bootstrap/openshift-install --dir=6_bootstrap/ocp42-abcde create manifests': exit status 1. Output: level=fatal msg="failed to fetch Master Machines: failed to load asset \"Install Config\": failed to unmarshal install-config.yaml: error converting YAML to JSON: yaml: line 23: did not find expected

[2019-12-16 02:03] Praveenmail2him opened #10 "Permission Issue"
While Executing the terraform apply command, it is failing in this module.
Can you please provide the resolution?

Error: Error running command '8_postinstall/postinstall.sh ocp42-abcde ocp42 example.com': exit status 126. Output: /bin/sh: 8_postinstall/postinstall.sh: Permission denied

[2019-12-16 17:32] gangchen03 commented on #9
Assigned the task to @vbudi000

[2019-12-16 17:33] gangchen03 commented on #10
Assigned to @vbudi000

[2019-12-16 20:25] vbudi000 commented on #9
@Praveenmail2him - the content for the pull secret file must be a single line; otherwise the error will happen. Can you confirm that the file you referred is a single line? Thanks

[2019-12-16 20:27] vbudi000 commented on #10
@Praveenmail2him - what platform are you running the terraform from? Did you get the code using git clone or using a zip download. You may want to make sure that the shell script is executable after you download it.

[2019-12-16 20:29] vbudi000 commented on #8
@my-janala - currently the code is only supported to run in linux . I am assuming that you run macOS? That support is coming and has not been committed.

[2019-12-16 20:29] #2 closed, assigned to vbudi000

[2019-12-16 20:30] vbudi000 commented on #6
Just as the information for this issue - it is only support terraform 0.12 - 0.12.13 ; will try to extend that to 0.12.14 + later

[2019-12-16 20:36] #6 closed, assigned to vbudi000

[2019-12-17 00:28] Praveenmail2him commented on #9
Can you please provide an example code?

[2019-12-17 18:09] vbudi000 commented on #9
The content should be similar to the following: (in a single line)
`{"auths":{"cloud.openshift.com":{"auth":"MxNlpCQg==","email":"abc@def.com"},"quay.io":{"auth”:”gSNlpCQg==","email":"abc@def.com"},"registry.connect.redhat.com":{"auth":"ManRxOA==","email":"abc@def.com"},"registry.redhat.io":{"auth":"0cxanRxOA==","email":"abc@def.com"}}}`

[2019-12-18 10:58] my-janala commented on #8
I followed that but it didn't solve the issue. Thanks for looking into this though.

[2019-12-18 10:59] my-janala commented on #8
Yes, I am trying your solution from macOS. I am going to try this from Ubuntu OS ad well. :)

[2019-12-18 11:26] vbudi000 commented on #7
@hassenius - I left out the AMI search capability to accommodate for version changes without modifying the code. This has worked well as the terraform was built for 4.1 and it is still the same code for 4.2; however the AMI list is changing.  It is easier to change the link in the docs.

[2019-12-18 11:26] #7 closed, assigned to gangchen03

[2019-12-18 11:28] vbudi000 commented on #8
@my-janala - let me know whether you the ubuntu solution works

[2020-01-05 09:19] Praveenmail2him commented on #10
I'm using Amazon Linux Platform, I used git clone.

[2020-01-05 16:09] Praveenmail2him opened #11 "Error in Function call in installer.tf (6_bootstrap)"
on installer.tf line 76, in data "template_file" "install_config_yaml":
  76: pullSecret: '${file(var.openshift_pull_secret)}'
    |----------------
    | var.openshift_pull_secret is "./openshift_pull_secret.json"

Call to function "file" failed: no file exists at openshift_pull_secret.json.

I get this error while executing terraform apply in installer.tf in 6_bootstrap module.
I cloned it to my

[2020-01-05 18:22] vbudi000 commented on #11
You have to download the pull secret from the OpenShift site - see the README for more information.

[2020-01-06 17:24] Praveenmail2him commented on #11
Thanks for your reply. Still not working.
Can you please elaborate on the steps to create install-config.yaml file & Download the pull secrets.

[2020-01-06 17:49] vbudi000 commented on #11
To get the pull secret, go to https://cloud.redhat.com/openshift/install/aws/user-provisioned - login with your RedHat credential and click on `Download Pull Secret`

[2020-01-06 18:43] Praveenmail2him commented on #11
Hi,
I tried the same steps. But still not working. Please let me know what I need to do in installer.tf file? It is failing in Function call. Where do I need to keep the install-config.yaml file?

I put them in /usr/local/bin - Am I correct?

Can you please elaborate me on how prepared install-config file with screenshots? Thanks a lot in Advance.

[2020-01-12 14:05] Praveenmail2him commented on #9
Thanks, this issue has been fixed.

[2020-01-12 14:05] #9 closed, assigned to vbudi000

[2020-01-12 14:07] Praveenmail2him commented on #10
This issue has been fixed.

[2020-01-12 14:07] #10 closed, assigned to vbudi000

[2020-01-17 13:51] Praveenmail2him commented on #11
This issues got fixed

[2020-01-17 13:51] #11 closed, assigned to nobody

[2020-01-17 13:53] Praveenmail2him opened #12 "Your query returned no results. Please change your search criteria and try again."
When I execute terraform plan, I get this issue, It worked two days before. It's highly critical to fix this issue.
on 6_bootstrap_ignition_configuration/rhcos.tf line 1, in data "aws_ami" "rhcos":
   1: data "aws_ami" "rhcos" {
on 7_control_plane_RHCS_configuration/rhcos.tf line 1, in data "aws_ami" "rhcos":
   1: data "aws_ami" "rhcos" {

[2020-01-17 15:09] vbudi000 commented on #12
Can you post to me which region and what ami are you using?

[2020-01-17 18:18] Praveenmail2him commented on #12
I'm pointing to us-east-1 & us-east-2 & us-west-1

[2020-01-17 18:19] Praveenmail2him commented on #12
Can you please let me know which is the recommended Ami to choose?

[2020-01-17 18:20] Praveenmail2him commented on #12
Would be great if you could available for a Skype chat or WebEx meeting? It's only gonna take less than 2 mins for you.

[2020-01-17 19:19] ncolon commented on #12
@Praveenmail2him You can get a list of the AMIs associated with each region from the installer code
https://github.com/openshift/installer/blob/master/data/data/rhcos.json

[2020-01-17 19:55] Praveenmail2him commented on #12
Thanks for your reply. Please let me know how can I get the owner id?

[2020-01-17 20:11] Praveenmail2him commented on #12
I tried with this option to get the ownerId

aws ec2 describe-images --image-ids ami-05bd75163809cc646 --region us-west-1 | jq -r .Images[0].OwnerId

But again I'm getting this same issue.

[2020-01-20 12:07] my-janala commented on #8
Hi @vbudi000 , is there any fix for the macos installer yet? Please let me know. I am working on Ubuntu installer but having some internal proxy related issue.

[2020-01-20 19:12] Praveenmail2him commented on #12
By Selecting the appropriate region specifc AMI and I have set that in variables.tf, this issue got resolved.

[2020-01-20 19:12] #12 closed, assigned to nobody

[2020-01-20 19:26] Praveenmail2him opened #14 "Error in Executing ./postinstall.sh scripts"
I was running terraform apply from the project root folder, I'm getting this below error.

I'm using access_key and secret_key and set using aws configure function.
An error occurred (InvalidClientTokenId) when calling the DescribeLoadBalancers operation: The security token included in the request is invalid.
Empty - 100 retries left

After successful, Please let me know on the steps to launch Ope

[2020-01-21 16:02] Praveenmail2him commented on #14
@vbudi000 @ncolon can you please help me with this issue?
And also, please let me know what is the final command to spin up the openshift 4.2 cluster ?

[2020-01-23 00:02] Praveenmail2him opened #15 "No Public Route 53 hosted zones found"
Team,
I'm getting this below error when I try to create ignition-configs like below.
$ sudo ./openshift-install create ignition-configs --dir=first   from /usr/local/bin directory.
FATAL failed to fetch Kubeconfig Admin Client: failed to fetch dependency of "Kubeconfig Admin Client": failed to fetch dependency of "Install Config": failed to generate asset "Base Domain": no public Route 53 hosted z

[2020-01-24 07:13] Praveenmail2him commented on #14
Invalid TokenId has been fixed.

[2020-01-24 07:13] #14 closed, assigned to nobody

[2020-01-24 23:42] vbudi000 commented on #15
Hi Praveen - If you are building OpenShift in AWS, you must use a Route53 Public hosted zone for your domain. You can reassign your domain to use AWS nameserver from whereever you register your domain from.

[2020-01-24 23:45] vbudi000 commented on #8
@my-janala - I merged PR from @ncolon - you should be able to run the terraform from mac now - can you confirm this?

[2020-01-24 23:52] rohiddev opened #16 "Unable to run init terraform init"
Error downloading modules: Error loading modules: module bootstrap: Error parsing .terraform/modules/db281cc6608033a40364708def7636d7/installer.tf: At 77:11: illegal char

[2020-01-24 23:57] vbudi000 commented on #16
The character in line 77 col 11 is a colon (:) so it should not be an illegal character.
I was just merged a new PR for the installer.tf - it may be the cause of the problem? can you re pull the repo and check?

Thank you

[2020-01-25 00:40] rohiddev commented on #16
The new also indicates error

Thanks
Rohid

Sent from my iPhone

[2020-01-25 00:42] rohiddev commented on #16
the new file also has the same issue.
terraform init
Initializing modules...
- module.private_network
  Getting source "./1_vpc_configuration"
- module.load_balancer
  Getting source "./2_load_balancer_configuration"
- module.dns
  Getting source "./3_dns_configuration"
- module.security_group
  Getting source "./4_security_group_configuration"
- module.iam
  Getting source "./5_iam_configuration"

[2020-01-25 00:44] rohiddev commented on #16
I just pulled again.
Error downloading modules: Error loading modules: module bootstrap: Error parsing .terraform/modules/db281cc6608033a40364708def7636d7/installer.tf: At 77:11: illegal char

[2020-01-25 01:01] rohiddev commented on #16
This seems to work now

[2020-01-25 01:01] #16 closed, assigned to vbudi000

[2020-01-25 01:20] rohiddev opened #17 "terraform plan issue"
terraform plan issue

Error: Your query returned no results. Please change your search criteria and try again.

  on 6_bootstrap/rhcos.tf line 1, in data "aws_ami" "rhcos":
   1: data "aws_ami" "rhcos" {

[2020-01-25 03:13] rohiddev opened #18 "error running 6_bootstrap"
Error: Search returned 4 results, please revise so only one is returned

  on elb.tf line 1, in data "aws_lb_target_group" "ocp_control_plane_int_6443":
   1: data "aws_lb_target_group" "ocp_control_plane_int_6443" {

Error: Search returned 4 results, please revise so only one is returned

  on elb.tf line 5, in data "aws_lb_target_group" "ocp_control_plane_int_22623":
   5: data "aws_lb_target_gr

[2020-01-25 19:24] Praveenmail2him commented on #17
You have to select the appropriate ami from the region for RHCore OS. Here is the link providing the appropriate Ami's.

https://github.com/openshift/installer/blob/master/data/data/rhcos.json
 Please use it in the variables.tf of bootstrap & control plane configuration module.

[2020-01-25 19:26] Praveenmail2him commented on #18
Please do terraform destroy or delete the terraform.tfstate file and rerun. I would recommend to run from the parent directory in one stretch which will give you the correct results.

[2020-01-27 11:04] vbudi000 commented on #18
Thank you @Praveenmail2him - that errors are typically a result of multiple invocation that is not cleaned up - @rohiddev - you may need to clean up manually as you have multiple errors there

[2020-01-29 04:31] vbudi000 commented on #8
Close #8 - as per Pull Request 13

[2020-01-29 04:31] #8 closed, assigned to vbudi000

[2020-01-29 12:24] forlalit opened #19 "Error running command '8_postinstall/postinstall.sh ocp42-abcde openshift4-cluster-1 xxx-poc.co.uk': exit status 231. Output: Checking Classic load balancers for Kubernetes created elb"
Hi,

I am getting below issue during installation for 4.3

Error running command '8_postinstall/postinstall.sh ocp42-abcde openshift4-cluster-1 xxx-poc.co.uk': exit status 231. Output: Checking Classic load balancers for Kubernetes created elb
Empty - 20 retries left
Empty - 19 retries left
Empty - 18 retries left
Empty - 17 retries left
Empty - 16 retries left
Empty - 15 retries left
Empty - 14 r

[2020-01-29 22:04] forlalit commented on #19
I guess issue was due to reason i change the number of retry in post install shell script to 20..I am closing the issue...if face again then will raise it

[2020-01-29 22:04] #19 closed, assigned to nobody

[2020-01-30 09:17] vbudi000 commented on #17
@rohiddev - I will close this issue if you do not have any other questions.

[2020-01-30 09:18] #18 closed, assigned to nobody

[2020-01-30 10:25] forlalit opened #20 "Not able to connect openshift cluster post installation"
I am able to complete installation successfully and i got url from kubeconfig https://api.openshift4-cluster-1.test-openshift.co.uk:6443 from a machine in public subnet of vpc

Are there any particular steps i need to follow after installation to connect to cluster url ?

[2020-01-31 05:39] vbudi000 commented on #20
Yes - the API port is not exposed to the public (internet) as those are supposedly connected through a CI/CD pipeline instead of directly. Only the Web application are made public. To connect directly to the API (6443) you must create a classic load balancer in the public subnet that routes the requests to the control plane's instances.

[2020-01-31 05:40] #17 closed, assigned to nobody

[2020-01-31 05:40] vbudi000 commented on #15
@Praveenmail2him - any update on this? Can I close this issue?
Thank you

[2020-01-31 06:38] Praveenmail2him commented on #15
My issue got fixed. Thanks.

[2020-01-31 06:38] #15 closed, assigned to vbudi000

[2020-02-04 13:56] forlalit commented on #20
Thanks vbudi000 for information...As per our company policy we are not allowed to attach internet gateway (i.e we cant go out to internet directly ..we have to go via proxy/firewall etc)...Is it possible to create Classic load balancer in Private subnet?

[2020-02-04 14:07] vbudi000 commented on #20
Yes, it is possible to create an elb in the private subnet (in fact - the terraform already did that) then what you need is to create a transit gateway to your own VPC so that you can access the load balancer.

[2020-02-04 14:11] vbudi000 commented on #20
Further possibility is that I am currently creating an air-gapped version of the terraform that did not create any internet gateway nor nat - you will then responsible to define the necessary networking connection (incl transit gw or private link) to connect to the cluster; It will be using an ECR to host a mirror from RedHat registry.

[2020-02-04 14:32] forlalit commented on #20
Thanks Budi  for quick response...my understanding is that it creates two load balancer

1) Network Load balancer for API request in private subnet
2) Classic load balancer in Public subnet with internet gateway

We  want second to be in private subnet

I am eagerly waiting for your air-gapped installation  to come up.

I really appreciate the work you are doing ...It is really very helpful for us

[2020-02-04 20:13] vbudi000 commented on #20
No, The terraform code creates 1 load balancer, which is the API in the private subnet. OpenShift in - turn creates a public load balancer (ie a load balancer with a public facing IP). I added a logic in the post-installation to associate the automatically created elb with a public hosted zone entry.

[2020-02-04 20:16] vbudi000 commented on #20
IF you wanted to create the load balancer as an internal load balancer, there are several OpenShift objects that you must modify - I must look into my note to find these objects and the sequences to modify them ....

[2020-02-04 21:44] forlalit commented on #20
Thanks Budi...if you can get list of components which needed be modified in order to get internal load balancer that would be great

[2020-02-05 04:21] vbudi000 commented on #20
There is only one that must be modified:
[code]
The scope should be Internal if you wanted build the load balancer internally .... Thanks to @ncolon for the help :D

[2020-02-06 12:05] forlalit commented on #20
I have few queries
1) Bootstrap machine runs even after installation ..my understanding was that it should get destroyed after installation
2) What is the correct process of shutting down OCP4 nodes (for example we dont want them to be running on weekends

[2020-02-08 17:24] caemar opened #23 "master nodes have roles master, worker"
When setting the variable `use_worker_machineset = false` the master nodes are getting the roles `master, worker`.
[code]

When setting `use_worker_machinesets = true` the result is that no workers are being created at all.

Only the following change would also create worker nodes and at same time create master nodes with their correct role `master`.

[code]

https://github.com/ibm-cloud-architect

[2020-02-08 17:46] caemar opened #24 "The private DNS zone is not updated when using tag in DNS config"
The private DNS zone is not updated with the `*.apps` entry by the ingress controller when the DNS config is configured to use `tags` to identify the private zone.

However, the ingress controller does update the private DNS zone when using the `zone_id` instead of `tags` in DNS config.

This change does solve the problem.

[code]
https://github.com/ibm-cloud-architecture/terraform-openshift4-aws/

[2020-02-08 22:07] vbudi000 commented on #23
The idea of using machineset is to let OpenShift provision the worker through the cloud provider APIs, this allows the worker to be defined as machinesets instead of individual machines. The machinesets then in -turn allows a dynamic provisioning of the worker as needed. The master will be defined as both master and worker is a result of having compute definition (in install-config.yaml)  of 0, he

[2020-02-08 22:09] vbudi000 commented on #24
The terraform that we use here assumes a public apps link in the DNS, not the private one. an effort is underway to consolidate an airgapped version of the repo that all entries are private.

[2020-02-13 10:36] my-janala opened #26 "Installation issue - worker nodes and health check issues"
Hi Guys, many thanks for your constant effort. However, I have experienced that the installation process is not consistent. The issues are:

- The installation is hung since a previous try did have ocp related iam roles and instance profile (ocp42-pre-1-master-profile) that were not destroyed by terraform destroy command.
- Quite often, the installation did hung while installing the worker nodes.

[2020-02-13 16:22] vbudi000 commented on #26
Hi @my-janala - The internet facing load balancer are supposed to work with only the worker nodes (in fact - only 2 of the worker nodes) so it is an expected behavior. The ingress-controller and router is only creating 2 pods to serve all routes for the cluster.

[2020-02-13 16:24] vbudi000 commented on #26
The post-install program that I have is just waiting until the internet facing load balancer become available and then register a Record Set using AWS API to *.apps.<cluster>.<domain>; so if you remove 8_postinstall/wait.tf - all you must do is to create the record set and you will see any error message earlier (that;s terraform, it gobbled up all errors and only presented them to you once it exit

[2020-02-14 09:24] #23 closed, assigned to nobody

[2020-02-14 09:25] #24 closed, assigned to nobody

[2020-02-14 10:04] caemar opened #27 "Remove bootstrap node when installation completes"
The bootstrap node needs to be removed in an additional step when the installation completes. The terraform scripts should do this during `apply`.

Currently the bootstrap node can be removed with this `destroy`.

[code]

[2020-03-03 20:14] gangchen03 opened #28 "Installer requires wget on Mac"
The installation will fail if Mac user doesn't have wget.

[2020-03-25 00:47] vgokul984 opened #31 "Installation Issue"
In the variables-aws.tf  "airgapped" variable missing key "enabled" which need to be update in the repo. also the VPC ID for the aws-ep-sg.tf and aws_endpoints.tf need to use data instead of using newvpc.

while installing the OCP the master and boot strap instance got provisioned properly after login the bootstrap machine the containers are not getting provisioned as its getting killed .
![image]

[2020-03-25 13:58] #28 closed, assigned to vbudi000

[2020-03-25 13:59] #26 closed, assigned to nobody

[2020-03-25 13:59] #20 closed, assigned to nobody

[2020-03-25 14:03] vbudi000 commented on #31
As mentioned in the Advanced topic - readme - the various options (ie adding your own VPCs and subnet ids) has not been tested - will be included in subsequent releases

[2020-03-25 14:27] vbudi000 commented on #31
@vgokul984 - the issue of etcdctl keep on restarting  is caused by the master machines are not initialized properly, there are a couple of possible causes:
- masters cannot resolve api-int.<cluster>.<domain> or cannot reach the loadbalancer
- masters cannot load the container images in quay.io (which is unlikely as the bootstrap is running)
- masters cannot get or resolve its own name

Best way to

[2020-03-25 19:03] vgokul984 commented on #31
Thanks Budi..!
As i can able to resolve the  api-int endpoint from the master and bootstrap and i can see the etcd  pod as well but not able to see the port on 2379 also i have attached the  service fail log alone
![image](https://user-images.githubusercontent.com/39961093/77572005-a333e300-6ea4-11ea-84b2-758ba8a14b39.png)
[kubelet.log](https://github.com/ibm-cloud-architecture/terraform-openshift

[2020-03-25 23:07] #27 closed, assigned to nobody

[2020-03-25 23:10] vbudi000 commented on #31
@vgokul984 - I have fixed the errors you identified in the beginning of the post - I understand that it does not really fixed your masters connection - from your kubelet log - it seems that it has to do with your dns - as it shows: `failure-domain.beta.kubernetes.io/zone=us-east-1a` and the master cant get itself initialized with etcd

[2020-03-25 23:17] vbudi000 commented on #27
@cae-ibm - the terraform cannot remove the bootstrap node, the options are
- removing using what you have above
- doing a specialized variable and do `TF_VAR_boot_complete=true terraform apply` or something, but this complicates the ignition file processing
- invoking a post-install script that waits until the bootstrap is done and remove the resources (which is a bit error prone and requires aws

[2020-03-26 02:54] vgokul984 commented on #31
Hi,
[clusterinfo.log](https://github.com/ibm-cloud-architecture/terraform-openshift4-aws/files/4390572/clusterinfo.log)
[ingress.log](https://github.com/ibm-cloud-architecture/terraform-openshift4-aws/files/4390573/ingress.log)

 i have fixed all the issue now the ingress is not provision with LB .
  Warning  SyncLoadBalancerFailed  89m (x5 over 91m)     service-controller  Error syncing load bala

[2020-03-27 19:37] vgokul984 commented on #31
Thanks Budi..! i fixed all the issue and i just want to know one thing where is the load balancer (*.apps.zonename) is created it is done by using the yaml using dns or someware else.

[2020-03-28 19:48] vbudi000 commented on #31
@vgokul984 - the load balancer is updated in the DNS from `oc get DNS cluster` object

[2020-03-28 19:48] #31 closed, assigned to nobody

[2020-05-13 18:06] amoonakal opened #33 "Error refreshing state: state snapshot was created by Terraform v0.12.24, which is newer than current v0.12.0; upgrade to Terraform v0.12.24 or greater to work with this state"
$ openshift-install version
4.4.3
built from commit 78b817ceb7657f81176bbe182cc6efc73004c841
release image quay.io/openshift-release-dev/ocp-release@sha256:039a4ef7c128a049ccf916a1d68ce93e8f5494b44d5a75df60c85e9e7191dacc

Platform: aws UPI
What happened?
Used terraform to generate the aws infrastructure based on the code present in https://github.com/ibm-cloud-architecture/terraform-openshift4-aws

[2020-05-14 04:36] shashiny opened #34 "Issue with Airgap install on AWS"
Thanks for providing terraform scripts for configuring openshift in Airgap mode.

I'm trying to deploy airgap installation on AWS, installation went fine without any issues.
Here are my configuration details
Terraform version	0.12.10
Openshift version	4.3.12
Using AWS Ohio datacenter

I'm able to login to bootstrap machine and after exporting kubeconfig, I'm able to run oc commands.

I didn't see

[2020-05-18 06:07] shashiny commented on #34
Can someone look into this issue please

[2020-05-18 14:36] vbudi000 commented on #34
Basically the problem is that the cluster cannot connect to the ec2 endpoint from within the airgapped environment. I am planning to deploy a cluster to investigate this

[2020-05-18 18:35] vbudi000 commented on #34
Several things:
- The ECR endpoint works - so theoretically the EC2 endpoint should also works
- The IP Address indicated by the EC2 endpoint in the log above (54.46.142.40) seems to be from an internet address instead of a local address

Some debugging tests (perform this from master or bootstrap) - the cidr of ecr and ec2 endpoint should be the same:

[code]

[2020-05-18 19:06] vbudi000 commented on #33
Hi @amoonakal - The repo is for you to launch Terraform to deploy OpenShift in AWS.
Using this repo you SHOULD not use the `openshift-install` command directly.
The error above is caused by you tried to run `openshift-install create cluster` (which is IPI install) on a UPI setup - which is caused terraform state mismatch (IPI also uses terraform under the cover).

[2020-05-18 19:06] #33 closed, assigned to nobody

[2020-05-18 19:36] vbudi000 commented on #33
I am closing this issue as it is an operation error

[2020-05-19 11:05] shashiny commented on #34
Here is the output.

[root@ip-10-5-0-78 ~]# nslookup 295635262768.dkr.ecr.us-east-2.amazonaws.com
Server:     10.5.0.2
Address:    10.5.0.2#53
Non-authoritative answer:
295635262768.dkr.ecr.us-east-2.amazonaws.com    canonical name = proxy-us-e-proxylb-rgy86izpd19c-38118563.us-east-2.elb.amazonaws.com.
Name:   proxy-us-e-proxylb-rgy86izpd19c-38118563.us-east-2.elb.amazonaws.com
Address: 3.133.189.

[2020-05-20 02:52] vbudi000 commented on #34
verified

[2020-05-20 02:52] #34 closed, assigned to nobody

[2020-05-20 14:26] amoonakal commented on #33
Thank You VBudi,

Does the same apply for the terraform-openshift4-azure repo, I had run the below command as the bootstrap and master instance got created but the worker was not coming up. Running the below command gets the worker instance created, but there are issues. I did dig the logs and saw capacity checks, are there capacity checks happening , I had reduced the count and type of worker and

[2020-05-20 14:38] shashiny commented on #34
Thanks a lot Budi Darmawan, Thanks for your help in resolving the issue.
Your expertise on AWS and Openshift helped me in resolving this issue.

Can I close this issue.

[2020-05-20 16:11] Praveenmail2him commented on #34
Yes, he is an expert in Openshift & Terraform. I have closely interacted
with him.

On Wed, May 20, 2020, 8:09 PM shashiny <notifications@github.com> wrote:

[2020-05-20 20:51] vbudi000 commented on #33
that command did nothing -

[2020-06-16 19:13] ckupe opened #35 "Bootstrap Node fails to start bootkube service (bootstrap.ign)"
**Description**;

Running the terraform plan does not produce a working bootstrap node with healthy bootkube service in disconnected architecture.

**How to reproduce:**

This is for following a disconnected/airgapped strategy.

1. Build the edge registry in ECR as per the documentation using 4.4.0-x86_64 as the target version for release images to be mirrored.
2. Configure the tfvars as follows:

[2020-06-16 22:40] ckupe commented on #35
Personal notes on TS steps that need to be taken, I will continue these steps tomorrow to gather more information about the state of the bootstrap.ign and bootstrap node.
The bootkube service isn't online when jumping into the bootstrap node. This could mean a bunch of different things (going backwards in order):

-     Bootstrap.ign wasn't accessible from the S3 bucket (http issues, or permission

[2020-06-22 16:17] ckupe commented on #35
Finding; 'additionalTrustBundle' is not templated into the install-config.yml within the codebase; which is required for the bootstrap to trust the local edge registry in ECR in order to pull the requisite images.

https://www.openshift.com/blog/openshift-4-2-disconnected-install
https://repo1.dsop.io/dsop/redhat/platformone/ocp4x/ansible/deploy/-/blob/v2-govcloud-automation/templates/openshift-in

[2020-06-22 16:26] ckupe commented on #35
Finding; ECR does not allow for unauthenticated image pulls. additional IAM policies will need to be defined and attached to the nodes in order for them to be able to pull from ECR.

[2020-06-22 22:41] ckupe commented on #35
`Jun 22 22:10:04 localhost ignition[775]: Ignition 0.35.0
Jun 22 22:10:04 localhost ignition[775]: Stage: fetch
Jun 22 22:10:04 localhost ignition[775]: reading system config file "/usr/lib/ignition/base.ign"
Jun 22 22:10:04 localhost ignition[775]: parsing config with SHA512: d16f2b139dd8152b12568f119876a90612e9149a14e0e27bfbec5486e458c2954193b818361ea24ea076ddbcd9d66a67e9b696ae8998562346bdb86925

[2020-06-25 12:38] jheinnic opened #36 "Use `tls_public_key` data source instead of `tls_private_key` resource"
The `tls` module's `tls_private_key` resource is currently used to create a private SSH key before running the OpenShift installer.  That key's public counterpart is extracted and attached to the Openshift configuration file to enable the key to be usable for logging in to cluster nodes for troubleshooting purposes if needed.

Documentation for `tls_private_key`, found [here](https://www.terraform

[2020-07-16 14:00] AliMBajwa opened #38 "Cannot connect to the cluster - AWS target groups (loadbalancing) show master instances as unhealthy"
**Description**

When deploying with terraform on a local machine - I cannot seem to connect with the cluster. I try 'oc login' with my $KUBECONFIG variable pointed to the kubeconfig file returned by the compeleted 'terraform apply'. I've also tried copying the contents of the kubeconfig to a file called 'config' and pacing that in install/auth/ - no luck.

When i try an oc login with the above me

[2020-07-16 14:01] AliMBajwa commented on #38
updated title and body.

[2020-11-19 17:14] abhi-vaidya opened #39 "resource aws_vpc_endpoint.private_ec2 created dns issues"
After creation of this resource, dns resolve fails with  Error: RequestError: send request failed
caused by: Post "https://ec2.us-west-2.amazonaws.com/": dial tcp: lookup ec2.us-west-2.amazonaws.com on 10.120.0.2:53: no such host.

Scenario,

Existing vpc and subnets.

[2020-11-23 16:55] abhi-vaidya opened #40 "Is it even a complete solution?"
1st
Creating interface endpoint creates dns  issue if  terraform destroy needs to be executed.
2nd
It does not create worker node. only master and bootstrap.
3rd,
master nodes does not come up healthy status in elb. Even there is no way to ssh in to server as scripts does not save ssh keys. so no chance to debug.

So, just want to confirm if its it is a complete solution or work in progress. Also

[2020-11-24 18:48] chillum opened #41 "error on destroy: not able to open cluster-infrastructure-02-config.yml"
I'm able to successfully run `terraform apply`, but when I run `terraform destroy` next, it fails with error, as it isn't able to find the file `install/temp/manifests/cluster-infrastructure-02-config.yml`.

it's indeed named `install/temp/_manifests/cluster-infrastructure-02-config.yml` instead. a quick workaround is to run this after provision, but before destroy: `ln -s _manifests install/temp/

[2021-02-26 21:01] mjmenger opened #44 "tar error while building openshift"
While applying the Terraform project, the process terminated with the following error

[code]

It's not clear to me where this error originated, so I'm not certain what troubleshooting / error localization steps to take.

[2021-03-04 21:54] vbudi000 commented on #40
1. I have not seen a problem as long as the environment destroy is following the readme and the deployment is actually successful
2. worker nodes are created by the cluster once the master nodes are up, not by terraform, hence the destroy process requires additional steps
3. if master nodes never become healthy, check the procedure - are you using disconnected etc?

[2021-03-04 21:54] #40 closed, assigned to nobody

[2021-03-04 21:56] vbudi000 commented on #35
Agreed - it is not implemented fully. - will add in readme

[2021-03-04 21:57] vbudi000 commented on #41
Thank you - the process does remove this file. I did see this error -

[2021-03-04 21:58] vbudi000 commented on #44
What OpenShift version are you working with? Did you change that in the variables?

[2021-04-09 16:52] bom201 opened #45 "Provider named registry.terraform.io/hashicorp/ignition got error"
Hi vbudi000,
 I got error when run : terraform init, pls help me fix it

" Error: Failed to query available provider packages

Could not retrieve the list of available versions for provider
hashicorp/ignition: provider registry registry.terraform.io does not have a
provider named registry.terraform.io/hashicorp/ignition

If you have just upgraded directly from Terraform v0.12 to Terraform v0.14
th

[2021-04-14 07:49] michalmedvecky commented on #45
Hello,

I am using this repo for the first time so I can't tell you what exactly went wrong, but this workaround worked for me:

[code]

[2021-05-31 12:33] vbudi000 commented on #44
No reply - closing

[2021-05-31 12:33] #44 closed, assigned to nobody

[2021-05-31 12:34] vbudi000 commented on #45
Fixed in the latest 4.6 release will be merged soon...

[2021-05-31 12:35] vbudi000 commented on #41
Will be fixed in the next pull request

[2021-05-31 12:38] vbudi000 commented on #39
This is caused by the EC2 endpoint is either:
- not created with DNS (as this is self use VPC)
- not using the standard DNS name (which then must be declared in the provider config)

Out of scope of this terraform

[2021-05-31 12:38] #39 closed, assigned to nobody

[2021-05-31 12:38] vbudi000 commented on #36
This is not consistent with the other Azure/GCP processing ... closing

[2021-05-31 12:38] #36 closed, assigned to nobody

[2021-05-31 13:07] vbudi000 commented on #38
No sufficient data - seems like the load balancer definition has a problem.

[2021-05-31 13:26] #35 closed, assigned to nobody

[2021-05-31 13:26] #41 closed, assigned to nobody

[2021-05-31 13:26] #45 closed, assigned to nobody

[2021-07-08 21:59] james-pollard-leapyear commented on #38
FWIW, we tried out this module and were also unable to connect to the cluster. The only non-standard thing we did was configured the openshift cluster to use our default VPC and related resources.

[2021-07-21 10:52] AliMBajwa commented on #38
Closing this issue - I'm no longer working on this (for a while now).

[2021-07-21 10:53] #38 closed, assigned to nobody

[2021-09-06 22:16] nvnmandadhi opened #51 "Scheduling router pods on infra nodes can be improved with the following config instead of the service account"
[code]

[2022-02-14 08:39] gfysaris opened #52 "Workers are not getting deployed as part of the installation process"
Hello,
We are trying to deployed the required AWS Resources for an UPI installation of CP4I solution in our environment.
Using the terraform code provided by this repo, we manage to execute a successful deployement (as far as terraform is concerned) and we getting a working bootstrap node and 3 masters nodes. Also the 3 loadbalancers are deployed as well.

But we do not see the 3 workers deployed.

[2022-02-14 09:14] Praveenmail2him commented on #52
Can you please post your log files?

[2022-02-14 09:50] gfysaris commented on #52
Of course, more than happy to provide any information needed.
Since there are multiple logs, could you please let me know which one would be more relevant for you?

[2022-02-14 10:42] Praveenmail2him commented on #52
.openshift-install.log would help me out to figure out.

[2022-02-14 16:29] gfysaris commented on #52
**terraform.tfvars**
[code]

**.openshift_install.log**
[code]

Please let me know if any other logs would help the investigation.
Thank you

[2022-02-15 09:16] gfysaris commented on #52
Hello @Praveenmail2him ,
After going through the code once again, can I please verify that the workers nodes deployment is supposed to be initiated from the master nodes right?
I am trying to analyse the master.ign but I can't find this. Am I missing something ?

[2022-02-15 11:18] gfysaris commented on #52
Also this might be helpful as well..

[code]

[2022-02-18 20:16] sanjay-bzwithai opened #53 "No worker node is deployed"
I am also trying this repo to deploy on AWS for some POC, using the terraform code provided by this repo, we manage to execute a successful deployment after making changes to the openshift repo paths, terraform applies successfully creating a working bootstrap node, 3 masters nodes and 3 load balancers.

 Worker nodes are not deployed, can someone explain how we can address the issue. thanks!

[2022-06-01 13:40] nastacio opened #55 "Obsolete URL for openshift-install CLI"
While executing the installation instructions for an OCP 4.10 cluster, the `terraform plan ...` command fails with

[code]

That "helper.tf" file has a mention to this obsolete URL:

[code]

It looks like, starting with OCP 4.10, that "rhcos.json" file is no longer published.

[2022-06-01 20:56] ncolon commented on #55
File moved to "https://raw.githubusercontent.com/openshift/installer/release-${local.major_version}/data/data/coreos/rhcos.json" on 4.10

[2022-06-01 20:58] nastacio opened #57 "aws_s3_bucket deprecation warnings"
I see these warnings on the output of `terraform plan...`:

[code]

The fix seems straightforward:
https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/s3_bucket_acl